body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F6F6F6;
}

a {
  color: white;
}

ul {
  padding: 0;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
